@import "vars"


/*==========  Desktop First  ==========*/

@media (max-width: 1600px)
  .section-video
    max-width: none

  .video
    &__watch
      bottom: -30px
      right: 30px

@media (max-width: 1300px)
  .socials-showcase
    display: none
  

// ≥1200px
+media-breakpoint-down(lg)
  .info-header
    li
      margin-right: 40px
  .bottom-header
    &__menu
      margin-right: 30px
    &__logo
      flex: 0 0 150px
      max-width: 150px
  .menu
    &__list
      > .menu-item
        > a
          padding: 5px 15px
      > .menu-item-has-children
        > a::after
          right: 0

  .showcase-item
    &__content
      padding-top: 40px
      padding-bottom: 40px
    &__title
      font-size: 48px
    &__text
      margin-bottom: 50px
    &__btns
      .btn
        margin-bottom: 20px

  .services-info
    &__title-wrap
      border: none
      padding: 0
    &__title
      text-align: center

  .content-services
    &__body
      padding-left: 0
    &__title
      margin-bottom: 15px
    &__img-wrap
      padding: 0
      margin-bottom: 40px

  .benefits-stats
    max-width: none
    margin-left: -10px
    margin-right: -10px

  .benefits-description
    &__list
      margin-bottom: 60px

  .section-video
    text-align: center
    &__text:last-of-type
      margin-bottom: 50px

  .video
    margin: 0 auto 50px auto

  .content-difference
    &__text
      display: none

  .gallery
    &__item
      height: 100px


// ≥992px
+media-breakpoint-down(md)
  .info-header
    justify-content: center

  .icon-menu
    display: block
    position: relative
    width: 30px
    height: 20px
    cursor: pointer
    z-index: 5
    span
      transition: all .25s ease-in-out
      top: calc(50% - 1px)
      left: 0
      position: absolute
      width: 100%
      height: 2px
      background-color: $text
      &:first-child
        top: 0
      &:last-child
        top: auto
        bottom: 0
    &.active
      span
        transform: scale(0)
        &:first-child
          transform: rotate(-45deg)
          top: calc(50% - 1px)
        &:last-child
          transform: rotate(45deg)
          bottom: calc(50% - 1px)

  .top-header
    display: none

  .bottom-header
    height: 80px
    background-color: #ffffff
    position: relative
    z-index: 5
    &__btn
      display: none
    &__content
      padding-top: 20px
      padding-bottom: 20px
  .menu
    &__list
      position: fixed
      height: 100%
      width: 100%
      top: 0
      left: 0
      overflow: auto
      margin-top: 80px
      background-color: $text
      padding: 20px 15px
      opacity: 0
      visibility: hidden
      transition: opacity .15s ease-in-out, visibility .15s ease-in-out
      display: block
      z-index: 99
      > .menu-item
        margin: 6px 10px
        > a
          color: #ffffff
          font-size: 18px
          padding: 12px 30px
          span
            padding-bottom: 0
        &.active
          > a
            background-color: $accent
            border-radius: 40px
        &:hover
          > a span::before
            display: none
      &.active
        opacity: 1
        visibility: visible
      > .menu-item-has-children
        > a::after
          width: 34px
          height: 34px
          line-height: 34px
          border-radius: 50%
          background-color: #ffffff
          content: ''
          text-align: center
          color: $text
          font-size: 20px
          right: 15px
          top: 50%
          transition: transform .25s ease
        &.show
          > a::after
            transform: translateY(-50%) rotate(-180deg)
      .menu-item:hover
        > .sub-menu
          padding-top: 0

  .sub-menu
    position: static
    display: none
    transform: none
    width: 100%
    background: none
    opacity: 1
    pointer-events: auto
    a
      color: $accent
      border-radius: 0!important
    .menu-item
      border: none!important
      border-radius: 0
      span
        &::after
          display: none!important
        &::before
          content: ''
          font-family: fontawesome
          margin-right: 10px
      &:hover > a
        background: none
    &.active
      display: block

  .showcase-item
    text-align: center
    &__title
      font-size: 36px
      margin-bottom: 20px
    &__text
      margin-bottom: 40px
    &__img-wrap
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      opacity: 0.1
    &__img
      width: 100%
      height: 100%
      object-fit: cover

  .btn-lg
    padding: 20px 35px

  .services-info
    &__items
      padding-bottom: 10px
    &__item
      margin-bottom: 20px

  .showcase-item
    &__content
      padding-top: 60px
      padding-bottom: 100px

  .showcase-slider
    &__dots
      top: auto
      bottom: 50px
      left: 50%
      transform: translateX(-50%)
      .slick-dots
        display: flex
        justify-content: center
      li
        margin-bottom: 0
        margin-right: 60px
        &::after
          left: 100%
          width: 60px
          height: 1px
          top: 50%
          transform: translateY(-50%)
        &:last-child
          margin-right: 0
      
  .service-tabs
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding-right: 0
    margin-bottom: 10px
  .service-tab
    background: none
    padding: 0
    border: none
    border-radius: 0
    margin: 0 15px 15px
    &__icon
      display: none
    &.active, &:hover
      background: none
      border: none
    &.active
      .service-tab__title
        border-bottom: none
        color: $accent
        padding-bottom: 3px
    &__title
      font-size: 18px
      color: $text
      border-bottom: 2px dashed rgba($text, .1)
      padding-bottom: 1px
      margin-right: 60px
      transition: color .25s ease
      font-weight: bold
      cursor: pointer
      &:last-child
        margin-right: 0
      &:hover
        color: $accent

  .content-services
    &__img
      margin: 0 auto
    &__item
      text-align: center
    &__btns
      flex-wrap: wrap
      justify-content: center
      flex-direction: row
    &__body
      padding: 0

  .callback-description
    margin-bottom: 30px
    justify-content: center

  .video
    &__watch
      padding: 0
      bottom: auto
      right: auto
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
  .watch-video
    width: 100px
    height: 100px
    border-radius: 50%
    &__btn
      margin: 0
      left: auto
      top: auto
      transform: none
    &__content
      display: none

  .section-stats
    &__img
      display: none

  .benefits-description
    text-align: center
    display: flex
    flex-direction: column
    &__list
      text-align: left
      display: inline-block
      margin-left: auto
      margin-right: auto
      margin-bottom: 20px

// ≥768px
+media-breakpoint-down(sm)
  .services-info
    &__title
      font-size: 30px

  .showcase-slider
    &__dots
      display: none

  .section-titles
    .section-subtitle
      font-size: 36px

  .content-services
    &__title
      font-size: 28px

  .callback-description
    &__subtitle
      font-size: 28px
    &__content
      text-align: center

  .video
    margin: 0 auto 30px auto

  .section-subtitle
    font-size: 36px

  .header-difference
    padding-bottom: 170px
  .content-difference
    padding-bottom: 100px

// ≥576px
+media-breakpoint-down(xs)
  .services-info
    &__title
      font-size: 25px

  .showcase-item
    &__img-wrap
      padding: 0

  .service-tab
    margin: 0 10px 10px

  .section-services
    padding: 60px 0 90px
  .section-video
    padding: 80px 0 50px

  .callback-description
    flex-direction: column
    &__icon-wrap
      margin-bottom: 10px

  .callback-form
    flex-direction: column
    align-items: center
    &__input
      width: 100%
      margin-bottom: 30px
    &__btn
      margin-left: 0

  .section-callback
    .callback-form
      &__btn
        padding: 20px 35px

  .benefits-stats
    .stat
      flex: 0 1 100%
      max-width: 100%

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)

// ≤1600px
@media (min-width: 1600px)
  .container
    max-width: 1570px
